h1 Create new user
form(action="/users/create", method="POST")
    label Name
    input(name="name",type="text")
    br
    label Phone number
    input(name="phone",type="text")
    br
    button Create