h1 Create new transaction
form(action="/transactions/create", method="POST")
    label User
    select(name="user")
        each user in users
            option(value=user.name)=user.name
            
    br
    label Book
    select(name="book")
        each book in books
            option(value=book.title)=book.title
    br
    button Create