h1
    a(href="/transactions") Transaction completed
p
    b User 
    span= transaction.user
    br
    b Book 
    span= transaction.book
    br
    b trans ID 
    span= transaction.id
    br
    b isCompelte 
    span= transaction.isComplete=true